$phone-portrait-max_width: 575px;
$phone-landscape-min-width: 576px;
$phone-landscape-max-width: 767px;
$tablet-portrait-min-width: 768px;
$tablet-portrait-max-width: 991px;
$tablet-landscape-min-width: 992px;
$tablet-landscape-max-width: 1199px;
$desktop-min-width: 1200px