.container-h-center {
  margin-right: auto;
  margin-left: auto;
}
.top-margin-xl {
  margin-top: 75px;
}
.right-margin-xl {
  margin-right: 75px;
}
.bottom-margin-xl {
  margin-bottom: 75px;
}
.left-margin-xl {
  margin-left: 75px;
}
.h-margin-xl {
  margin-left: 75px;
  margin-right: 75px;
}
.v-margin-xl {
  margin-bottom: 75px;
  margin-top: 75px;
}
.top-margin-l {
  margin-top: 50px;
}
.right-margin-l {
  margin-right: 50px;
}
.bottom-margin-l {
  margin-bottom: 50px;
}
.left-margin-l {
  margin-left: 50px;
}
.h-margin-l {
  margin-left: 50px;
  margin-right: 50px;
}
.v-margin-l {
  margin-bottom: 50px;
  margin-top: 50px;
}
.top-margin-m {
  margin-top: 25px;
}
.right-margin-m {
  margin-right: 25px;
}
.bottom-margin-m {
  margin-bottom: 25px;
}
.left-margin-m {
  margin-left: 25px;
}
.h-margin-m {
  margin-left: 25px;
  margin-right: 25px;
}
.v-margin-m {
  margin-bottom: 25px;
  margin-top: 25px;
}
.top-margin-s {
  margin-top: 15px;
}
.right-margin-s {
  margin-right: 15px;
}
.bottom-margin-s {
  margin-bottom: 15px;
}
.left-margin-s {
  margin-left: 15px;
}
.h-margin-s {
  margin-left: 15px;
  margin-right: 15px;
}
.v-margin-s {
  margin-bottom: 15px;
  margin-top: 15px;
}
.margin-xl {
  margin: 75px;
}
.margin-l {
  margin: 50px;
}
.margin-m {
  margin: 25px;
}
.margin-s {
  margin: 15px;
}
.no-margin {
  margin: 0;
}
.no-h-margin {
  margin-right: 0;
  margin-left: 0;
}
.no-v-margin {
  margin-bottom: 0;
  margin-top: 0;
}
.no-top-margin {
  margin-top: 0;
}
.no-right-margin {
  margin-right: 0;
}
.no-bottom-margin {
  margin-bottom: 0;
}
.no-left-margin {
  margin-left: 0;
}
/* Desktop */
@media (min-width: 1200px) {
  .desktop-top-margin-xl {
    margin-top: 75px;
  }
  .desktop-right-margin-xl {
    margin-right: 75px;
  }
  .desktop-bottom-margin-xl {
    margin-bottom: 75px;
  }
  .desktop-left-margin-xl {
    margin-left: 75px;
  }
  .desktop-h-margin-xl {
    margin-left: 75px;
    margin-right: 75px;
  }
  .desktop-v-margin-xl {
    margin-bottom: 75px;
    margin-top: 75px;
  }
  .desktop-top-margin-l {
    margin-top: 50px;
  }
  .desktop-right-margin-l {
    margin-right: 50px;
  }
  .desktop-bottom-margin-l {
    margin-bottom: 50px;
  }
  .desktop-left-margin-l {
    margin-left: 50px;
  }
  .desktop-h-margin-l {
    margin-left: 50px;
    margin-right: 50px;
  }
  .desktop-v-margin-l {
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .desktop-top-margin-m {
    margin-top: 25px;
  }
  .desktop-right-margin-m {
    margin-right: 25px;
  }
  .desktop-bottom-margin-m {
    margin-bottom: 25px;
  }
  .desktop-left-margin-m {
    margin-left: 25px;
  }
  .desktop-h-margin-m {
    margin-left: 25px;
    margin-right: 25px;
  }
  .desktop-v-margin-m {
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .desktop-top-margin-s {
    margin-top: 15px;
  }
  .desktop-right-margin-s {
    margin-right: 15px;
  }
  .desktop-bottom-margin-s {
    margin-bottom: 15px;
  }
  .desktop-left-margin-s {
    margin-left: 15px;
  }
  .desktop-h-margin-s {
    margin-left: 15px;
    margin-right: 15px;
  }
  .desktop-v-margin-s {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .desktop-margin-xl {
    margin: 75px;
  }
  .desktop-margin-l {
    margin: 50px;
  }
  .desktop-margin-m {
    margin: 25px;
  }
  .desktop-margin-s {
    margin: 15px;
  }
  .desktop-no-margin {
    margin: 0;
  }
  .desktop-no-h-margin {
    margin-right: 0;
    margin-left: 0;
  }
  .desktop-no-v-margin {
    margin-bottom: 0;
    margin-top: 0;
  }
  .desktop-no-top-margin {
    margin-top: 0;
  }
  .desktop-no-right-margin {
    margin-right: 0;
  }
  .desktop-no-bottom-margin {
    margin-bottom: 0;
  }
  .desktop-no-left-margin {
    margin-left: 0;
  }
}
/* Tablet Landscape */
@media (min-width: 992px) and (max-width: 1199px) {
  .tablet-landscape-top-margin-xl {
    margin-top: 75px;
  }
  .tablet-landscape-right-margin-xl {
    margin-right: 75px;
  }
  .tablet-landscape-bottom-margin-xl {
    margin-bottom: 75px;
  }
  .tablet-landscape-left-margin-xl {
    margin-left: 75px;
  }
  .tablet-landscape-h-margin-xl {
    margin-left: 75px;
    margin-right: 75px;
  }
  .tablet-landscape-v-margin-xl {
    margin-bottom: 75px;
    margin-top: 75px;
  }
  .tablet-landscape-top-margin-l {
    margin-top: 50px;
  }
  .tablet-landscape-right-margin-l {
    margin-right: 50px;
  }
  .tablet-landscape-bottom-margin-l {
    margin-bottom: 50px;
  }
  .tablet-landscape-left-margin-l {
    margin-left: 50px;
  }
  .tablet-landscape-h-margin-l {
    margin-left: 50px;
    margin-right: 50px;
  }
  .tablet-landscape-v-margin-l {
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .tablet-landscape-top-margin-m {
    margin-top: 25px;
  }
  .tablet-landscape-right-margin-m {
    margin-right: 25px;
  }
  .tablet-landscape-bottom-margin-m {
    margin-bottom: 25px;
  }
  .tablet-landscape-left-margin-m {
    margin-left: 25px;
  }
  .tablet-landscape-h-margin-m {
    margin-left: 25px;
    margin-right: 25px;
  }
  .tablet-landscape-v-margin-m {
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .tablet-landscape-top-margin-s {
    margin-top: 15px;
  }
  .tablet-landscape-right-margin-s {
    margin-right: 15px;
  }
  .tablet-landscape-bottom-margin-s {
    margin-bottom: 15px;
  }
  .tablet-landscape-left-margin-s {
    margin-left: 15px;
  }
  .tablet-landscape-h-margin-s {
    margin-left: 15px;
    margin-right: 15px;
  }
  .tablet-landscape-v-margin-s {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .tablet-landscape-margin-xl {
    margin: 75px;
  }
  .tablet-landscape-margin-l {
    margin: 50px;
  }
  .tablet-landscape-margin-m {
    margin: 25px;
  }
  .tablet-landscape-margin-s {
    margin: 15px;
  }
  .tablet-landscape-no-margin {
    margin: 0;
  }
  .tablet-landscape-no-h-margin {
    margin-right: 0;
    margin-left: 0;
  }
  .tablet-landscape-no-v-margin {
    margin-bottom: 0;
    margin-top: 0;
  }
  .tablet-landscape-no-top-margin {
    margin-top: 0;
  }
  .tablet-landscape-no-right-margin {
    margin-right: 0;
  }
  .tablet-landscape-no-bottom-margin {
    margin-bottom: 0;
  }
  .tablet-landscape-no-left-margin {
    margin-left: 0;
  }
}
/* Tablet Portrait */
@media (min-width: 768px) and (max-width: 991px) {
  .tablet-portrait-top-margin-xl {
    margin-top: 75px;
  }
  .tablet-portrait-right-margin-xl {
    margin-right: 75px;
  }
  .tablet-portrait-bottom-margin-xl {
    margin-bottom: 75px;
  }
  .tablet-portrait-left-margin-xl {
    margin-left: 75px;
  }
  .tablet-portrait-h-margin-xl {
    margin-left: 75px;
    margin-right: 75px;
  }
  .tablet-portrait-v-margin-xl {
    margin-bottom: 75px;
    margin-top: 75px;
  }
  .tablet-portrait-top-margin-l {
    margin-top: 50px;
  }
  .tablet-portrait-right-margin-l {
    margin-right: 50px;
  }
  .tablet-portrait-bottom-margin-l {
    margin-bottom: 50px;
  }
  .tablet-portrait-left-margin-l {
    margin-left: 50px;
  }
  .tablet-portrait-h-margin-l {
    margin-left: 50px;
    margin-right: 50px;
  }
  .tablet-portrait-v-margin-l {
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .tablet-portrait-top-margin-m {
    margin-top: 25px;
  }
  .tablet-portrait-right-margin-m {
    margin-right: 25px;
  }
  .tablet-portrait-bottom-margin-m {
    margin-bottom: 25px;
  }
  .tablet-portrait-left-margin-m {
    margin-left: 25px;
  }
  .tablet-portrait-h-margin-m {
    margin-left: 25px;
    margin-right: 25px;
  }
  .tablet-portrait-v-margin-m {
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .tablet-portrait-top-margin-s {
    margin-top: 15px;
  }
  .tablet-portrait-right-margin-s {
    margin-right: 15px;
  }
  .tablet-portrait-bottom-margin-s {
    margin-bottom: 15px;
  }
  .tablet-portrait-left-margin-s {
    margin-left: 15px;
  }
  .tablet-portrait-h-margin-s {
    margin-left: 15px;
    margin-right: 15px;
  }
  .tablet-portrait-v-margin-s {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .tablet-portrait-margin-xl {
    margin: 75px;
  }
  .tablet-portrait-margin-l {
    margin: 50px;
  }
  .tablet-portrait-margin-m {
    margin: 25px;
  }
  .tablet-portrait-margin-s {
    margin: 15px;
  }
  .tablet-portrait-no-margin {
    margin: 0;
  }
  .tablet-portrait-no-h-margin {
    margin-right: 0;
    margin-left: 0;
  }
  .tablet-portrait-no-v-margin {
    margin-bottom: 0;
    margin-top: 0;
  }
  .tablet-portrait-no-top-margin {
    margin-top: 0;
  }
  .tablet-portrait-no-right-margin {
    margin-right: 0;
  }
  .tablet-portrait-no-bottom-margin {
    margin-bottom: 0;
  }
  .tablet-portrait-no-left-margin {
    margin-left: 0;
  }
}
/* Phone Landscape */
@media (min-width: 576px) and (max-width: 767px) {
  .phone-landscape-top-margin-xl {
    margin-top: 75px;
  }
  .phone-landscape-right-margin-xl {
    margin-right: 75px;
  }
  .phone-landscape-bottom-margin-xl {
    margin-bottom: 75px;
  }
  .phone-landscape-left-margin-xl {
    margin-left: 75px;
  }
  .phone-landscape-h-margin-xl {
    margin-left: 75px;
    margin-right: 75px;
  }
  .phone-landscape-v-margin-xl {
    margin-bottom: 75px;
    margin-top: 75px;
  }
  .phone-landscape-top-margin-l {
    margin-top: 50px;
  }
  .phone-landscape-right-margin-l {
    margin-right: 50px;
  }
  .phone-landscape-bottom-margin-l {
    margin-bottom: 50px;
  }
  .phone-landscape-left-margin-l {
    margin-left: 50px;
  }
  .phone-landscape-h-margin-l {
    margin-left: 50px;
    margin-right: 50px;
  }
  .phone-landscape-v-margin-l {
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .phone-landscape-top-margin-m {
    margin-top: 25px;
  }
  .phone-landscape-right-margin-m {
    margin-right: 25px;
  }
  .phone-landscape-bottom-margin-m {
    margin-bottom: 25px;
  }
  .phone-landscape-left-margin-m {
    margin-left: 25px;
  }
  .phone-landscape-h-margin-m {
    margin-left: 25px;
    margin-right: 25px;
  }
  .phone-landscape-v-margin-m {
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .phone-landscape-top-margin-s {
    margin-top: 15px;
  }
  .phone-landscape-right-margin-s {
    margin-right: 15px;
  }
  .phone-landscape-bottom-margin-s {
    margin-bottom: 15px;
  }
  .phone-landscape-left-margin-s {
    margin-left: 15px;
  }
  .phone-landscape-h-margin-s {
    margin-left: 15px;
    margin-right: 15px;
  }
  .phone-landscape-v-margin-s {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .phone-landscape-margin-xl {
    margin: 75px;
  }
  .phone-landscape-margin-l {
    margin: 50px;
  }
  .phone-landscape-margin-m {
    margin: 25px;
  }
  .phone-landscape-margin-s {
    margin: 15px;
  }
  .phone-landscape-no-margin {
    margin: 0;
  }
  .phone-landscape-no-h-margin {
    margin-right: 0;
    margin-left: 0;
  }
  .phone-landscape-no-v-margin {
    margin-bottom: 0;
    margin-top: 0;
  }
  .phone-landscape-no-top-margin {
    margin-top: 0;
  }
  .phone-landscape-no-right-margin {
    margin-right: 0;
  }
  .phone-landscape-no-bottom-margin {
    margin-bottom: 0;
  }
  .phone-landscape-no-left-margin {
    margin-left: 0;
  }
}
/* Phone Portrait */
@media (max-width: 575px) {
  .phone-portrait-top-margin-xl {
    margin-top: 75px;
  }
  .phone-portrait-right-margin-xl {
    margin-right: 75px;
  }
  .phone-portrait-bottom-margin-xl {
    margin-bottom: 75px;
  }
  .phone-portrait-left-margin-xl {
    margin-left: 75px;
  }
  .phone-portrait-h-margin-xl {
    margin-left: 75px;
    margin-right: 75px;
  }
  .phone-portrait-v-margin-xl {
    margin-bottom: 75px;
    margin-top: 75px;
  }
  .phone-portrait-top-margin-l {
    margin-top: 50px;
  }
  .phone-portrait-right-margin-l {
    margin-right: 50px;
  }
  .phone-portrait-bottom-margin-l {
    margin-bottom: 50px;
  }
  .phone-portrait-left-margin-l {
    margin-left: 50px;
  }
  .phone-portrait-h-margin-l {
    margin-left: 50px;
    margin-right: 50px;
  }
  .phone-portrait-v-margin-l {
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .phone-portrait-top-margin-m {
    margin-top: 25px;
  }
  .phone-portrait-right-margin-m {
    margin-right: 25px;
  }
  .phone-portrait-bottom-margin-m {
    margin-bottom: 25px;
  }
  .phone-portrait-left-margin-m {
    margin-left: 25px;
  }
  .phone-portrait-h-margin-m {
    margin-left: 25px;
    margin-right: 25px;
  }
  .phone-portrait-v-margin-m {
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .phone-portrait-top-margin-s {
    margin-top: 15px;
  }
  .phone-portrait-right-margin-s {
    margin-right: 15px;
  }
  .phone-portrait-bottom-margin-s {
    margin-bottom: 15px;
  }
  .phone-portrait-left-margin-s {
    margin-left: 15px;
  }
  .phone-portrait-h-margin-s {
    margin-left: 15px;
    margin-right: 15px;
  }
  .phone-portrait-v-margin-s {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .phone-portrait-margin-xl {
    margin: 75px;
  }
  .phone-portrait-margin-l {
    margin: 50px;
  }
  .phone-portrait-margin-m {
    margin: 25px;
  }
  .phone-portrait-margin-s {
    margin: 15px;
  }
  .phone-portrait-no-margin {
    margin: 0;
  }
  .phone-portrait-no-h-margin {
    margin-right: 0;
    margin-left: 0;
  }
  .phone-portrait-no-v-margin {
    margin-bottom: 0;
    margin-top: 0;
  }
  .phone-portrait-no-top-margin {
    margin-top: 0;
  }
  .phone-portrait-no-right-margin {
    margin-right: 0;
  }
  .phone-portrait-no-bottom-margin {
    margin-bottom: 0;
  }
  .phone-portrait-no-left-margin {
    margin-left: 0;
  }
}
/* Tablet Only */
@media (min-width: 768px) and (max-width: 1199px) {
  .tablet-only-top-margin-xl {
    margin-top: 75px;
  }
  .tablet-only-right-margin-xl {
    margin-right: 75px;
  }
  .tablet-only-bottom-margin-xl {
    margin-bottom: 75px;
  }
  .tablet-only-left-margin-xl {
    margin-left: 75px;
  }
  .tablet-only-h-margin-xl {
    margin-left: 75px;
    margin-right: 75px;
  }
  .tablet-only-v-margin-xl {
    margin-bottom: 75px;
    margin-top: 75px;
  }
  .tablet-only-top-margin-l {
    margin-top: 50px;
  }
  .tablet-only-right-margin-l {
    margin-right: 50px;
  }
  .tablet-only-bottom-margin-l {
    margin-bottom: 50px;
  }
  .tablet-only-left-margin-l {
    margin-left: 50px;
  }
  .tablet-only-h-margin-l {
    margin-left: 50px;
    margin-right: 50px;
  }
  .tablet-only-v-margin-l {
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .tablet-only-top-margin-m {
    margin-top: 25px;
  }
  .tablet-only-right-margin-m {
    margin-right: 25px;
  }
  .tablet-only-bottom-margin-m {
    margin-bottom: 25px;
  }
  .tablet-only-left-margin-m {
    margin-left: 25px;
  }
  .tablet-only-h-margin-m {
    margin-left: 25px;
    margin-right: 25px;
  }
  .tablet-only-v-margin-m {
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .tablet-only-top-margin-s {
    margin-top: 15px;
  }
  .tablet-only-right-margin-s {
    margin-right: 15px;
  }
  .tablet-only-bottom-margin-s {
    margin-bottom: 15px;
  }
  .tablet-only-left-margin-s {
    margin-left: 15px;
  }
  .tablet-only-h-margin-s {
    margin-left: 15px;
    margin-right: 15px;
  }
  .tablet-only-v-margin-s {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .tablet-only-margin-xl {
    margin: 75px;
  }
  .tablet-only-margin-l {
    margin: 50px;
  }
  .tablet-only-margin-m {
    margin: 25px;
  }
  .tablet-only-margin-s {
    margin: 15px;
  }
  .tablet-only-no-margin {
    margin: 0;
  }
  .tablet-only-no-h-margin {
    margin-right: 0;
    margin-left: 0;
  }
  .tablet-only-no-v-margin {
    margin-bottom: 0;
    margin-top: 0;
  }
  .tablet-only-no-top-margin {
    margin-top: 0;
  }
  .tablet-only-no-right-margin {
    margin-right: 0;
  }
  .tablet-only-no-bottom-margin {
    margin-bottom: 0;
  }
  .tablet-only-no-left-margin {
    margin-left: 0;
  }
}
/* Phone Only */
@media (max-width: 767px) {
  .phone-only-top-margin-xl {
    margin-top: 75px;
  }
  .phone-only-right-margin-xl {
    margin-right: 75px;
  }
  .phone-only-bottom-margin-xl {
    margin-bottom: 75px;
  }
  .phone-only-left-margin-xl {
    margin-left: 75px;
  }
  .phone-only-h-margin-xl {
    margin-left: 75px;
    margin-right: 75px;
  }
  .phone-only-v-margin-xl {
    margin-bottom: 75px;
    margin-top: 75px;
  }
  .phone-only-top-margin-l {
    margin-top: 50px;
  }
  .phone-only-right-margin-l {
    margin-right: 50px;
  }
  .phone-only-bottom-margin-l {
    margin-bottom: 50px;
  }
  .phone-only-left-margin-l {
    margin-left: 50px;
  }
  .phone-only-h-margin-l {
    margin-left: 50px;
    margin-right: 50px;
  }
  .phone-only-v-margin-l {
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .phone-only-top-margin-m {
    margin-top: 25px;
  }
  .phone-only-right-margin-m {
    margin-right: 25px;
  }
  .phone-only-bottom-margin-m {
    margin-bottom: 25px;
  }
  .phone-only-left-margin-m {
    margin-left: 25px;
  }
  .phone-only-h-margin-m {
    margin-left: 25px;
    margin-right: 25px;
  }
  .phone-only-v-margin-m {
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .phone-only-top-margin-s {
    margin-top: 15px;
  }
  .phone-only-right-margin-s {
    margin-right: 15px;
  }
  .phone-only-bottom-margin-s {
    margin-bottom: 15px;
  }
  .phone-only-left-margin-s {
    margin-left: 15px;
  }
  .phone-only-h-margin-s {
    margin-left: 15px;
    margin-right: 15px;
  }
  .phone-only-v-margin-s {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .phone-only-margin-xl {
    margin: 75px;
  }
  .phone-only-margin-l {
    margin: 50px;
  }
  .phone-only-margin-m {
    margin: 25px;
  }
  .phone-only-margin-s {
    margin: 15px;
  }
  .phone-only-no-margin {
    margin: 0;
  }
  .phone-only-no-h-margin {
    margin-right: 0;
    margin-left: 0;
  }
  .phone-only-no-v-margin {
    margin-bottom: 0;
    margin-top: 0;
  }
  .phone-only-no-top-margin {
    margin-top: 0;
  }
  .phone-only-no-right-margin {
    margin-right: 0;
  }
  .phone-only-no-bottom-margin {
    margin-bottom: 0;
  }
  .phone-only-no-left-margin {
    margin-left: 0;
  }
}
/* Landscape Medias */
@media (orientation: landscape) {
  .landscape-only-top-margin-xl {
    margin-top: 75px;
  }
  .landscape-only-right-margin-xl {
    margin-right: 75px;
  }
  .landscape-only-bottom-margin-xl {
    margin-bottom: 75px;
  }
  .landscape-only-left-margin-xl {
    margin-left: 75px;
  }
  .landscape-only-h-margin-xl {
    margin-left: 75px;
    margin-right: 75px;
  }
  .landscape-only-v-margin-xl {
    margin-bottom: 75px;
    margin-top: 75px;
  }
  .landscape-only-top-margin-l {
    margin-top: 50px;
  }
  .landscape-only-right-margin-l {
    margin-right: 50px;
  }
  .landscape-only-bottom-margin-l {
    margin-bottom: 50px;
  }
  .landscape-only-left-margin-l {
    margin-left: 50px;
  }
  .landscape-only-h-margin-l {
    margin-left: 50px;
    margin-right: 50px;
  }
  .landscape-only-v-margin-l {
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .landscape-only-top-margin-m {
    margin-top: 25px;
  }
  .landscape-only-right-margin-m {
    margin-right: 25px;
  }
  .landscape-only-bottom-margin-m {
    margin-bottom: 25px;
  }
  .landscape-only-left-margin-m {
    margin-left: 25px;
  }
  .landscape-only-h-margin-m {
    margin-left: 25px;
    margin-right: 25px;
  }
  .landscape-only-v-margin-m {
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .landscape-only-top-margin-s {
    margin-top: 15px;
  }
  .landscape-only-right-margin-s {
    margin-right: 15px;
  }
  .landscape-only-bottom-margin-s {
    margin-bottom: 15px;
  }
  .landscape-only-left-margin-s {
    margin-left: 15px;
  }
  .landscape-only-h-margin-s {
    margin-left: 15px;
    margin-right: 15px;
  }
  .landscape-only-v-margin-s {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .landscape-only-margin-xl {
    margin: 75px;
  }
  .landscape-only-margin-l {
    margin: 50px;
  }
  .landscape-only-margin-m {
    margin: 25px;
  }
  .landscape-only-margin-s {
    margin: 15px;
  }
  .landscape-only-no-margin {
    margin: 0;
  }
  .landscape-only-no-h-margin {
    margin-right: 0;
    margin-left: 0;
  }
  .landscape-only-no-v-margin {
    margin-bottom: 0;
    margin-top: 0;
  }
  .landscape-only-no-top-margin {
    margin-top: 0;
  }
  .landscape-only-no-right-margin {
    margin-right: 0;
  }
  .landscape-only-no-bottom-margin {
    margin-bottom: 0;
  }
  .landscape-only-no-left-margin {
    margin-left: 0;
  }
}
/* Portrait Medias */
@media (orientation: portrait) {
  .portrait-only-top-margin-xl {
    margin-top: 75px;
  }
  .portrait-only-right-margin-xl {
    margin-right: 75px;
  }
  .portrait-only-bottom-margin-xl {
    margin-bottom: 75px;
  }
  .portrait-only-left-margin-xl {
    margin-left: 75px;
  }
  .portrait-only-h-margin-xl {
    margin-left: 75px;
    margin-right: 75px;
  }
  .portrait-only-v-margin-xl {
    margin-bottom: 75px;
    margin-top: 75px;
  }
  .portrait-only-top-margin-l {
    margin-top: 50px;
  }
  .portrait-only-right-margin-l {
    margin-right: 50px;
  }
  .portrait-only-bottom-margin-l {
    margin-bottom: 50px;
  }
  .portrait-only-left-margin-l {
    margin-left: 50px;
  }
  .portrait-only-h-margin-l {
    margin-left: 50px;
    margin-right: 50px;
  }
  .portrait-only-v-margin-l {
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .portrait-only-top-margin-m {
    margin-top: 25px;
  }
  .portrait-only-right-margin-m {
    margin-right: 25px;
  }
  .portrait-only-bottom-margin-m {
    margin-bottom: 25px;
  }
  .portrait-only-left-margin-m {
    margin-left: 25px;
  }
  .portrait-only-h-margin-m {
    margin-left: 25px;
    margin-right: 25px;
  }
  .portrait-only-v-margin-m {
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .portrait-only-top-margin-s {
    margin-top: 15px;
  }
  .portrait-only-right-margin-s {
    margin-right: 15px;
  }
  .portrait-only-bottom-margin-s {
    margin-bottom: 15px;
  }
  .portrait-only-left-margin-s {
    margin-left: 15px;
  }
  .portrait-only-h-margin-s {
    margin-left: 15px;
    margin-right: 15px;
  }
  .portrait-only-v-margin-s {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .portrait-only-margin-xl {
    margin: 75px;
  }
  .portrait-only-margin-l {
    margin: 50px;
  }
  .portrait-only-margin-m {
    margin: 25px;
  }
  .portrait-only-margin-s {
    margin: 15px;
  }
  .portrait-only-no-margin {
    margin: 0;
  }
  .portrait-only-no-h-margin {
    margin-right: 0;
    margin-left: 0;
  }
  .portrait-only-no-v-margin {
    margin-bottom: 0;
    margin-top: 0;
  }
  .portrait-only-no-top-margin {
    margin-top: 0;
  }
  .portrait-only-no-right-margin {
    margin-right: 0;
  }
  .portrait-only-no-bottom-margin {
    margin-bottom: 0;
  }
  .portrait-only-no-left-margin {
    margin-left: 0;
  }
}
/* Tablet Landscape and Above */
@media (min-width: 992px) {
  .tablet-landscape-and-above-top-margin-xl {
    margin-top: 75px;
  }
  .tablet-landscape-and-above-right-margin-xl {
    margin-right: 75px;
  }
  .tablet-landscape-and-above-bottom-margin-xl {
    margin-bottom: 75px;
  }
  .tablet-landscape-and-above-left-margin-xl {
    margin-left: 75px;
  }
  .tablet-landscape-and-above-h-margin-xl {
    margin-left: 75px;
    margin-right: 75px;
  }
  .tablet-landscape-and-above-v-margin-xl {
    margin-bottom: 75px;
    margin-top: 75px;
  }
  .tablet-landscape-and-above-top-margin-l {
    margin-top: 50px;
  }
  .tablet-landscape-and-above-right-margin-l {
    margin-right: 50px;
  }
  .tablet-landscape-and-above-bottom-margin-l {
    margin-bottom: 50px;
  }
  .tablet-landscape-and-above-left-margin-l {
    margin-left: 50px;
  }
  .tablet-landscape-and-above-h-margin-l {
    margin-left: 50px;
    margin-right: 50px;
  }
  .tablet-landscape-and-above-v-margin-l {
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .tablet-landscape-and-above-top-margin-m {
    margin-top: 25px;
  }
  .tablet-landscape-and-above-right-margin-m {
    margin-right: 25px;
  }
  .tablet-landscape-and-above-bottom-margin-m {
    margin-bottom: 25px;
  }
  .tablet-landscape-and-above-left-margin-m {
    margin-left: 25px;
  }
  .tablet-landscape-and-above-h-margin-m {
    margin-left: 25px;
    margin-right: 25px;
  }
  .tablet-landscape-and-above-v-margin-m {
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .tablet-landscape-and-above-top-margin-s {
    margin-top: 15px;
  }
  .tablet-landscape-and-above-right-margin-s {
    margin-right: 15px;
  }
  .tablet-landscape-and-above-bottom-margin-s {
    margin-bottom: 15px;
  }
  .tablet-landscape-and-above-left-margin-s {
    margin-left: 15px;
  }
  .tablet-landscape-and-above-h-margin-s {
    margin-left: 15px;
    margin-right: 15px;
  }
  .tablet-landscape-and-above-v-margin-s {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .tablet-landscape-and-above-margin-xl {
    margin: 75px;
  }
  .tablet-landscape-and-above-margin-l {
    margin: 50px;
  }
  .tablet-landscape-and-above-margin-m {
    margin: 25px;
  }
  .tablet-landscape-and-above-margin-s {
    margin: 15px;
  }
  .tablet-landscape-and-above-no-margin {
    margin: 0;
  }
  .tablet-landscape-and-above-no-h-margin {
    margin-right: 0;
    margin-left: 0;
  }
  .tablet-landscape-and-above-no-v-margin {
    margin-bottom: 0;
    margin-top: 0;
  }
  .tablet-landscape-and-above-no-top-margin {
    margin-top: 0;
  }
  .tablet-landscape-and-above-no-right-margin {
    margin-right: 0;
  }
  .tablet-landscape-and-above-no-bottom-margin {
    margin-bottom: 0;
  }
  .tablet-landscape-and-above-no-left-margin {
    margin-left: 0;
  }
}
/* Tablet Portrait and Above */
@media (min-width: 768px) {
  .tablet-portrait-and-above-top-margin-xl {
    margin-top: 75px;
  }
  .tablet-portrait-and-above-right-margin-xl {
    margin-right: 75px;
  }
  .tablet-portrait-and-above-bottom-margin-xl {
    margin-bottom: 75px;
  }
  .tablet-portrait-and-above-left-margin-xl {
    margin-left: 75px;
  }
  .tablet-portrait-and-above-h-margin-xl {
    margin-left: 75px;
    margin-right: 75px;
  }
  .tablet-portrait-and-above-v-margin-xl {
    margin-bottom: 75px;
    margin-top: 75px;
  }
  .tablet-portrait-and-above-top-margin-l {
    margin-top: 50px;
  }
  .tablet-portrait-and-above-right-margin-l {
    margin-right: 50px;
  }
  .tablet-portrait-and-above-bottom-margin-l {
    margin-bottom: 50px;
  }
  .tablet-portrait-and-above-left-margin-l {
    margin-left: 50px;
  }
  .tablet-portrait-and-above-h-margin-l {
    margin-left: 50px;
    margin-right: 50px;
  }
  .tablet-portrait-and-above-v-margin-l {
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .tablet-portrait-and-above-top-margin-m {
    margin-top: 25px;
  }
  .tablet-portrait-and-above-right-margin-m {
    margin-right: 25px;
  }
  .tablet-portrait-and-above-bottom-margin-m {
    margin-bottom: 25px;
  }
  .tablet-portrait-and-above-left-margin-m {
    margin-left: 25px;
  }
  .tablet-portrait-and-above-h-margin-m {
    margin-left: 25px;
    margin-right: 25px;
  }
  .tablet-portrait-and-above-v-margin-m {
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .tablet-portrait-and-above-top-margin-s {
    margin-top: 15px;
  }
  .tablet-portrait-and-above-right-margin-s {
    margin-right: 15px;
  }
  .tablet-portrait-and-above-bottom-margin-s {
    margin-bottom: 15px;
  }
  .tablet-portrait-and-above-left-margin-s {
    margin-left: 15px;
  }
  .tablet-portrait-and-above-h-margin-s {
    margin-left: 15px;
    margin-right: 15px;
  }
  .tablet-portrait-and-above-v-margin-s {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .tablet-portrait-and-above-margin-xl {
    margin: 75px;
  }
  .tablet-portrait-and-above-margin-l {
    margin: 50px;
  }
  .tablet-portrait-and-above-margin-m {
    margin: 25px;
  }
  .tablet-portrait-and-above-margin-s {
    margin: 15px;
  }
  .tablet-portrait-and-above-no-margin {
    margin: 0;
  }
  .tablet-portrait-and-above-no-h-margin {
    margin-right: 0;
    margin-left: 0;
  }
  .tablet-portrait-and-above-no-v-margin {
    margin-bottom: 0;
    margin-top: 0;
  }
  .tablet-portrait-and-above-no-top-margin {
    margin-top: 0;
  }
  .tablet-portrait-and-above-no-right-margin {
    margin-right: 0;
  }
  .tablet-portrait-and-above-no-bottom-margin {
    margin-bottom: 0;
  }
  .tablet-portrait-and-above-no-left-margin {
    margin-left: 0;
  }
}
/* phone Landscape and Above */
@media (min-width: 576px) {
  .phone-landscape-and-above-top-margin-xl {
    margin-top: 75px;
  }
  .phone-landscape-and-above-right-margin-xl {
    margin-right: 75px;
  }
  .phone-landscape-and-above-bottom-margin-xl {
    margin-bottom: 75px;
  }
  .phone-landscape-and-above-left-margin-xl {
    margin-left: 75px;
  }
  .phone-landscape-and-above-h-margin-xl {
    margin-left: 75px;
    margin-right: 75px;
  }
  .phone-landscape-and-above-v-margin-xl {
    margin-bottom: 75px;
    margin-top: 75px;
  }
  .phone-landscape-and-above-top-margin-l {
    margin-top: 50px;
  }
  .phone-landscape-and-above-right-margin-l {
    margin-right: 50px;
  }
  .phone-landscape-and-above-bottom-margin-l {
    margin-bottom: 50px;
  }
  .phone-landscape-and-above-left-margin-l {
    margin-left: 50px;
  }
  .phone-landscape-and-above-h-margin-l {
    margin-left: 50px;
    margin-right: 50px;
  }
  .phone-landscape-and-above-v-margin-l {
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .phone-landscape-and-above-top-margin-m {
    margin-top: 25px;
  }
  .phone-landscape-and-above-right-margin-m {
    margin-right: 25px;
  }
  .phone-landscape-and-above-bottom-margin-m {
    margin-bottom: 25px;
  }
  .phone-landscape-and-above-left-margin-m {
    margin-left: 25px;
  }
  .phone-landscape-and-above-h-margin-m {
    margin-left: 25px;
    margin-right: 25px;
  }
  .phone-landscape-and-above-v-margin-m {
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .phone-landscape-and-above-top-margin-s {
    margin-top: 15px;
  }
  .phone-landscape-and-above-right-margin-s {
    margin-right: 15px;
  }
  .phone-landscape-and-above-bottom-margin-s {
    margin-bottom: 15px;
  }
  .phone-landscape-and-above-left-margin-s {
    margin-left: 15px;
  }
  .phone-landscape-and-above-h-margin-s {
    margin-left: 15px;
    margin-right: 15px;
  }
  .phone-landscape-and-above-v-margin-s {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .phone-landscape-and-above-margin-xl {
    margin: 75px;
  }
  .phone-landscape-and-above-margin-l {
    margin: 50px;
  }
  .phone-landscape-and-above-margin-m {
    margin: 25px;
  }
  .phone-landscape-and-above-margin-s {
    margin: 15px;
  }
  .phone-landscape-and-above-no-margin {
    margin: 0;
  }
  .phone-landscape-and-above-no-h-margin {
    margin-right: 0;
    margin-left: 0;
  }
  .phone-landscape-and-above-no-v-margin {
    margin-bottom: 0;
    margin-top: 0;
  }
  .phone-landscape-and-above-no-top-margin {
    margin-top: 0;
  }
  .phone-landscape-and-above-no-right-margin {
    margin-right: 0;
  }
  .phone-landscape-and-above-no-bottom-margin {
    margin-bottom: 0;
  }
  .phone-landscape-and-above-no-left-margin {
    margin-left: 0;
  }
}
/*# sourceMappingURL=margins.css.map */