.top-padding-xl {
  padding-top: 75px;
}
.right-padding-xl {
  padding-right: 75px;
}
.bottom-padding-xl {
  padding-bottom: 75px;
}
.left-padding-xl {
  padding-left: 75px;
}
.h-padding-xl {
  padding-left: 75px;
  padding-right: 75px;
}
.v-padding-xl {
  padding-bottom: 75px;
  padding-top: 75px;
}
.top-padding-l {
  padding-top: 50px;
}
.right-padding-l {
  padding-right: 50px;
}
.bottom-padding-l {
  padding-bottom: 50px;
}
.left-padding-l {
  padding-left: 50px;
}
.h-padding-l {
  padding-left: 50px;
  padding-right: 50px;
}
.v-padding-l {
  padding-bottom: 50px;
  padding-top: 50px;
}
.top-padding-m {
  padding-top: 25px;
}
.right-padding-m {
  padding-right: 25px;
}
.bottom-padding-m {
  padding-bottom: 25px;
}
.left-padding-m {
  padding-left: 25px;
}
.h-padding-m {
  padding-left: 25px;
  padding-right: 25px;
}
.v-padding-m {
  padding-bottom: 25px;
  padding-top: 25px;
}
.top-padding-s {
  padding-top: 15px;
}
.right-padding-s {
  padding-right: 15px;
}
.bottom-padding-s {
  padding-bottom: 15px;
}
.left-padding-s {
  padding-left: 15px;
}
.h-padding-s {
  padding-left: 15px;
  padding-right: 15px;
}
.v-padding-s {
  padding-bottom: 15px;
  padding-top: 15px;
}
.padding-xl {
  padding: 75px;
}
.padding-l {
  padding: 50px;
}
.padding-m {
  padding: 25px;
}
.padding-s {
  padding: 15px;
}
.no-padding {
  padding: 0;
}
.no-h-padding {
  padding-right: 0;
  padding-left: 0;
}
.no-v-padding {
  padding-bottom: 0;
  padding-top: 0;
}
.no-top-padding {
  padding-top: 0;
}
.no-right-padding {
  padding-right: 0;
}
.no-bottom-padding {
  padding-bottom: 0;
}
.no-left-padding {
  padding-left: 0;
}
/* Desktop */
@media (min-width: 1200px) {
  .desktop-top-padding-xl {
    padding-top: 75px;
  }
  .desktop-right-padding-xl {
    padding-right: 75px;
  }
  .desktop-bottom-padding-xl {
    padding-bottom: 75px;
  }
  .desktop-left-padding-xl {
    padding-left: 75px;
  }
  .desktop-h-padding-xl {
    padding-left: 75px;
    padding-right: 75px;
  }
  .desktop-v-padding-xl {
    padding-bottom: 75px;
    padding-top: 75px;
  }
  .desktop-top-padding-l {
    padding-top: 50px;
  }
  .desktop-right-padding-l {
    padding-right: 50px;
  }
  .desktop-bottom-padding-l {
    padding-bottom: 50px;
  }
  .desktop-left-padding-l {
    padding-left: 50px;
  }
  .desktop-h-padding-l {
    padding-left: 50px;
    padding-right: 50px;
  }
  .desktop-v-padding-l {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .desktop-top-padding-m {
    padding-top: 25px;
  }
  .desktop-right-padding-m {
    padding-right: 25px;
  }
  .desktop-bottom-padding-m {
    padding-bottom: 25px;
  }
  .desktop-left-padding-m {
    padding-left: 25px;
  }
  .desktop-h-padding-m {
    padding-left: 25px;
    padding-right: 25px;
  }
  .desktop-v-padding-m {
    padding-bottom: 25px;
    padding-top: 25px;
  }
  .desktop-top-padding-s {
    padding-top: 15px;
  }
  .desktop-right-padding-s {
    padding-right: 15px;
  }
  .desktop-bottom-padding-s {
    padding-bottom: 15px;
  }
  .desktop-left-padding-s {
    padding-left: 15px;
  }
  .desktop-h-padding-s {
    padding-left: 15px;
    padding-right: 15px;
  }
  .desktop-v-padding-s {
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .desktop-padding-xl {
    padding: 75px;
  }
  .desktop-padding-l {
    padding: 50px;
  }
  .desktop-padding-m {
    padding: 25px;
  }
  .desktop-padding-s {
    padding: 15px;
  }
  .desktop-no-padding {
    padding: 0;
  }
  .desktop-no-h-padding {
    padding-right: 0;
    padding-left: 0;
  }
  .desktop-no-v-padding {
    padding-bottom: 0;
    padding-top: 0;
  }
  .desktop-no-top-padding {
    padding-top: 0;
  }
  .desktop-no-right-padding {
    padding-right: 0;
  }
  .desktop-no-bottom-padding {
    padding-bottom: 0;
  }
  .desktop-no-left-padding {
    padding-left: 0;
  }
}
/* Tablet Landscape */
@media (min-width: 992px) and (max-width: 1199px) {
  .tablet-landscape-top-padding-xl {
    padding-top: 75px;
  }
  .tablet-landscape-right-padding-xl {
    padding-right: 75px;
  }
  .tablet-landscape-bottom-padding-xl {
    padding-bottom: 75px;
  }
  .tablet-landscape-left-padding-xl {
    padding-left: 75px;
  }
  .tablet-landscape-h-padding-xl {
    padding-left: 75px;
    padding-right: 75px;
  }
  .tablet-landscape-v-padding-xl {
    padding-bottom: 75px;
    padding-top: 75px;
  }
  .tablet-landscape-top-padding-l {
    padding-top: 50px;
  }
  .tablet-landscape-right-padding-l {
    padding-right: 50px;
  }
  .tablet-landscape-bottom-padding-l {
    padding-bottom: 50px;
  }
  .tablet-landscape-left-padding-l {
    padding-left: 50px;
  }
  .tablet-landscape-h-padding-l {
    padding-left: 50px;
    padding-right: 50px;
  }
  .tablet-landscape-v-padding-l {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .tablet-landscape-top-padding-m {
    padding-top: 25px;
  }
  .tablet-landscape-right-padding-m {
    padding-right: 25px;
  }
  .tablet-landscape-bottom-padding-m {
    padding-bottom: 25px;
  }
  .tablet-landscape-left-padding-m {
    padding-left: 25px;
  }
  .tablet-landscape-h-padding-m {
    padding-left: 25px;
    padding-right: 25px;
  }
  .tablet-landscape-v-padding-m {
    padding-bottom: 25px;
    padding-top: 25px;
  }
  .tablet-landscape-top-padding-s {
    padding-top: 15px;
  }
  .tablet-landscape-right-padding-s {
    padding-right: 15px;
  }
  .tablet-landscape-bottom-padding-s {
    padding-bottom: 15px;
  }
  .tablet-landscape-left-padding-s {
    padding-left: 15px;
  }
  .tablet-landscape-h-padding-s {
    padding-left: 15px;
    padding-right: 15px;
  }
  .tablet-landscape-v-padding-s {
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .tablet-landscape-padding-xl {
    padding: 75px;
  }
  .tablet-landscape-padding-l {
    padding: 50px;
  }
  .tablet-landscape-padding-m {
    padding: 25px;
  }
  .tablet-landscape-padding-s {
    padding: 15px;
  }
  .tablet-landscape-no-padding {
    padding: 0;
  }
  .tablet-landscape-no-h-padding {
    padding-right: 0;
    padding-left: 0;
  }
  .tablet-landscape-no-v-padding {
    padding-bottom: 0;
    padding-top: 0;
  }
  .tablet-landscape-no-top-padding {
    padding-top: 0;
  }
  .tablet-landscape-no-right-padding {
    padding-right: 0;
  }
  .tablet-landscape-no-bottom-padding {
    padding-bottom: 0;
  }
  .tablet-landscape-no-left-padding {
    padding-left: 0;
  }
}
/* Tablet Portrait */
@media (min-width: 768px) and (max-width: 991px) {
  .tablet-portrait-top-padding-xl {
    padding-top: 75px;
  }
  .tablet-portrait-right-padding-xl {
    padding-right: 75px;
  }
  .tablet-portrait-bottom-padding-xl {
    padding-bottom: 75px;
  }
  .tablet-portrait-left-padding-xl {
    padding-left: 75px;
  }
  .tablet-portrait-h-padding-xl {
    padding-left: 75px;
    padding-right: 75px;
  }
  .tablet-portrait-v-padding-xl {
    padding-bottom: 75px;
    padding-top: 75px;
  }
  .tablet-portrait-top-padding-l {
    padding-top: 50px;
  }
  .tablet-portrait-right-padding-l {
    padding-right: 50px;
  }
  .tablet-portrait-bottom-padding-l {
    padding-bottom: 50px;
  }
  .tablet-portrait-left-padding-l {
    padding-left: 50px;
  }
  .tablet-portrait-h-padding-l {
    padding-left: 50px;
    padding-right: 50px;
  }
  .tablet-portrait-v-padding-l {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .tablet-portrait-top-padding-m {
    padding-top: 25px;
  }
  .tablet-portrait-right-padding-m {
    padding-right: 25px;
  }
  .tablet-portrait-bottom-padding-m {
    padding-bottom: 25px;
  }
  .tablet-portrait-left-padding-m {
    padding-left: 25px;
  }
  .tablet-portrait-h-padding-m {
    padding-left: 25px;
    padding-right: 25px;
  }
  .tablet-portrait-v-padding-m {
    padding-bottom: 25px;
    padding-top: 25px;
  }
  .tablet-portrait-top-padding-s {
    padding-top: 15px;
  }
  .tablet-portrait-right-padding-s {
    padding-right: 15px;
  }
  .tablet-portrait-bottom-padding-s {
    padding-bottom: 15px;
  }
  .tablet-portrait-left-padding-s {
    padding-left: 15px;
  }
  .tablet-portrait-h-padding-s {
    padding-left: 15px;
    padding-right: 15px;
  }
  .tablet-portrait-v-padding-s {
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .tablet-portrait-padding-xl {
    padding: 75px;
  }
  .tablet-portrait-padding-l {
    padding: 50px;
  }
  .tablet-portrait-padding-m {
    padding: 25px;
  }
  .tablet-portrait-padding-s {
    padding: 15px;
  }
  .tablet-portrait-no-padding {
    padding: 0;
  }
  .tablet-portrait-no-h-padding {
    padding-right: 0;
    padding-left: 0;
  }
  .tablet-portrait-no-v-padding {
    padding-bottom: 0;
    padding-top: 0;
  }
  .tablet-portrait-no-top-padding {
    padding-top: 0;
  }
  .tablet-portrait-no-right-padding {
    padding-right: 0;
  }
  .tablet-portrait-no-bottom-padding {
    padding-bottom: 0;
  }
  .tablet-portrait-no-left-padding {
    padding-left: 0;
  }
}
/* Phone Landscape */
@media (min-width: 576px) and (max-width: 767px) {
  .phone-landscape-top-padding-xl {
    padding-top: 75px;
  }
  .phone-landscape-right-padding-xl {
    padding-right: 75px;
  }
  .phone-landscape-bottom-padding-xl {
    padding-bottom: 75px;
  }
  .phone-landscape-left-padding-xl {
    padding-left: 75px;
  }
  .phone-landscape-h-padding-xl {
    padding-left: 75px;
    padding-right: 75px;
  }
  .phone-landscape-v-padding-xl {
    padding-bottom: 75px;
    padding-top: 75px;
  }
  .phone-landscape-top-padding-l {
    padding-top: 50px;
  }
  .phone-landscape-right-padding-l {
    padding-right: 50px;
  }
  .phone-landscape-bottom-padding-l {
    padding-bottom: 50px;
  }
  .phone-landscape-left-padding-l {
    padding-left: 50px;
  }
  .phone-landscape-h-padding-l {
    padding-left: 50px;
    padding-right: 50px;
  }
  .phone-landscape-v-padding-l {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .phone-landscape-top-padding-m {
    padding-top: 25px;
  }
  .phone-landscape-right-padding-m {
    padding-right: 25px;
  }
  .phone-landscape-bottom-padding-m {
    padding-bottom: 25px;
  }
  .phone-landscape-left-padding-m {
    padding-left: 25px;
  }
  .phone-landscape-h-padding-m {
    padding-left: 25px;
    padding-right: 25px;
  }
  .phone-landscape-v-padding-m {
    padding-bottom: 25px;
    padding-top: 25px;
  }
  .phone-landscape-top-padding-s {
    padding-top: 15px;
  }
  .phone-landscape-right-padding-s {
    padding-right: 15px;
  }
  .phone-landscape-bottom-padding-s {
    padding-bottom: 15px;
  }
  .phone-landscape-left-padding-s {
    padding-left: 15px;
  }
  .phone-landscape-h-padding-s {
    padding-left: 15px;
    padding-right: 15px;
  }
  .phone-landscape-v-padding-s {
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .phone-landscape-padding-xl {
    padding: 75px;
  }
  .phone-landscape-padding-l {
    padding: 50px;
  }
  .phone-landscape-padding-m {
    padding: 25px;
  }
  .phone-landscape-padding-s {
    padding: 15px;
  }
  .phone-landscape-no-padding {
    padding: 0;
  }
  .phone-landscape-no-h-padding {
    padding-right: 0;
    padding-left: 0;
  }
  .phone-landscape-no-v-padding {
    padding-bottom: 0;
    padding-top: 0;
  }
  .phone-landscape-no-top-padding {
    padding-top: 0;
  }
  .phone-landscape-no-right-padding {
    padding-right: 0;
  }
  .phone-landscape-no-bottom-padding {
    padding-bottom: 0;
  }
  .phone-landscape-no-left-padding {
    padding-left: 0;
  }
}
/* Phone Portrait */
@media (max-width: 575px) {
  .phone-portrait-top-padding-xl {
    padding-top: 75px;
  }
  .phone-portrait-right-padding-xl {
    padding-right: 75px;
  }
  .phone-portrait-bottom-padding-xl {
    padding-bottom: 75px;
  }
  .phone-portrait-left-padding-xl {
    padding-left: 75px;
  }
  .phone-portrait-h-padding-xl {
    padding-left: 75px;
    padding-right: 75px;
  }
  .phone-portrait-v-padding-xl {
    padding-bottom: 75px;
    padding-top: 75px;
  }
  .phone-portrait-top-padding-l {
    padding-top: 50px;
  }
  .phone-portrait-right-padding-l {
    padding-right: 50px;
  }
  .phone-portrait-bottom-padding-l {
    padding-bottom: 50px;
  }
  .phone-portrait-left-padding-l {
    padding-left: 50px;
  }
  .phone-portrait-h-padding-l {
    padding-left: 50px;
    padding-right: 50px;
  }
  .phone-portrait-v-padding-l {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .phone-portrait-top-padding-m {
    padding-top: 25px;
  }
  .phone-portrait-right-padding-m {
    padding-right: 25px;
  }
  .phone-portrait-bottom-padding-m {
    padding-bottom: 25px;
  }
  .phone-portrait-left-padding-m {
    padding-left: 25px;
  }
  .phone-portrait-h-padding-m {
    padding-left: 25px;
    padding-right: 25px;
  }
  .phone-portrait-v-padding-m {
    padding-bottom: 25px;
    padding-top: 25px;
  }
  .phone-portrait-top-padding-s {
    padding-top: 15px;
  }
  .phone-portrait-right-padding-s {
    padding-right: 15px;
  }
  .phone-portrait-bottom-padding-s {
    padding-bottom: 15px;
  }
  .phone-portrait-left-padding-s {
    padding-left: 15px;
  }
  .phone-portrait-h-padding-s {
    padding-left: 15px;
    padding-right: 15px;
  }
  .phone-portrait-v-padding-s {
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .phone-portrait-padding-xl {
    padding: 75px;
  }
  .phone-portrait-padding-l {
    padding: 50px;
  }
  .phone-portrait-padding-m {
    padding: 25px;
  }
  .phone-portrait-padding-s {
    padding: 15px;
  }
  .phone-portrait-no-padding {
    padding: 0;
  }
  .phone-portrait-no-h-padding {
    padding-right: 0;
    padding-left: 0;
  }
  .phone-portrait-no-v-padding {
    padding-bottom: 0;
    padding-top: 0;
  }
  .phone-portrait-no-top-padding {
    padding-top: 0;
  }
  .phone-portrait-no-right-padding {
    padding-right: 0;
  }
  .phone-portrait-no-bottom-padding {
    padding-bottom: 0;
  }
  .phone-portrait-no-left-padding {
    padding-left: 0;
  }
}
/* Tablet Only */
@media (min-width: 768px) and (max-width: 1199px) {
  .tablet-only-top-padding-xl {
    padding-top: 75px;
  }
  .tablet-only-right-padding-xl {
    padding-right: 75px;
  }
  .tablet-only-bottom-padding-xl {
    padding-bottom: 75px;
  }
  .tablet-only-left-padding-xl {
    padding-left: 75px;
  }
  .tablet-only-h-padding-xl {
    padding-left: 75px;
    padding-right: 75px;
  }
  .tablet-only-v-padding-xl {
    padding-bottom: 75px;
    padding-top: 75px;
  }
  .tablet-only-top-padding-l {
    padding-top: 50px;
  }
  .tablet-only-right-padding-l {
    padding-right: 50px;
  }
  .tablet-only-bottom-padding-l {
    padding-bottom: 50px;
  }
  .tablet-only-left-padding-l {
    padding-left: 50px;
  }
  .tablet-only-h-padding-l {
    padding-left: 50px;
    padding-right: 50px;
  }
  .tablet-only-v-padding-l {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .tablet-only-top-padding-m {
    padding-top: 25px;
  }
  .tablet-only-right-padding-m {
    padding-right: 25px;
  }
  .tablet-only-bottom-padding-m {
    padding-bottom: 25px;
  }
  .tablet-only-left-padding-m {
    padding-left: 25px;
  }
  .tablet-only-h-padding-m {
    padding-left: 25px;
    padding-right: 25px;
  }
  .tablet-only-v-padding-m {
    padding-bottom: 25px;
    padding-top: 25px;
  }
  .tablet-only-top-padding-s {
    padding-top: 15px;
  }
  .tablet-only-right-padding-s {
    padding-right: 15px;
  }
  .tablet-only-bottom-padding-s {
    padding-bottom: 15px;
  }
  .tablet-only-left-padding-s {
    padding-left: 15px;
  }
  .tablet-only-h-padding-s {
    padding-left: 15px;
    padding-right: 15px;
  }
  .tablet-only-v-padding-s {
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .tablet-only-padding-xl {
    padding: 75px;
  }
  .tablet-only-padding-l {
    padding: 50px;
  }
  .tablet-only-padding-m {
    padding: 25px;
  }
  .tablet-only-padding-s {
    padding: 15px;
  }
  .tablet-only-no-padding {
    padding: 0;
  }
  .tablet-only-no-h-padding {
    padding-right: 0;
    padding-left: 0;
  }
  .tablet-only-no-v-padding {
    padding-bottom: 0;
    padding-top: 0;
  }
  .tablet-only-no-top-padding {
    padding-top: 0;
  }
  .tablet-only-no-right-padding {
    padding-right: 0;
  }
  .tablet-only-no-bottom-padding {
    padding-bottom: 0;
  }
  .tablet-only-no-left-padding {
    padding-left: 0;
  }
}
/* Phone Only */
@media (max-width: 767px) {
  .phone-only-top-padding-xl {
    padding-top: 75px;
  }
  .phone-only-right-padding-xl {
    padding-right: 75px;
  }
  .phone-only-bottom-padding-xl {
    padding-bottom: 75px;
  }
  .phone-only-left-padding-xl {
    padding-left: 75px;
  }
  .phone-only-h-padding-xl {
    padding-left: 75px;
    padding-right: 75px;
  }
  .phone-only-v-padding-xl {
    padding-bottom: 75px;
    padding-top: 75px;
  }
  .phone-only-top-padding-l {
    padding-top: 50px;
  }
  .phone-only-right-padding-l {
    padding-right: 50px;
  }
  .phone-only-bottom-padding-l {
    padding-bottom: 50px;
  }
  .phone-only-left-padding-l {
    padding-left: 50px;
  }
  .phone-only-h-padding-l {
    padding-left: 50px;
    padding-right: 50px;
  }
  .phone-only-v-padding-l {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .phone-only-top-padding-m {
    padding-top: 25px;
  }
  .phone-only-right-padding-m {
    padding-right: 25px;
  }
  .phone-only-bottom-padding-m {
    padding-bottom: 25px;
  }
  .phone-only-left-padding-m {
    padding-left: 25px;
  }
  .phone-only-h-padding-m {
    padding-left: 25px;
    padding-right: 25px;
  }
  .phone-only-v-padding-m {
    padding-bottom: 25px;
    padding-top: 25px;
  }
  .phone-only-top-padding-s {
    padding-top: 15px;
  }
  .phone-only-right-padding-s {
    padding-right: 15px;
  }
  .phone-only-bottom-padding-s {
    padding-bottom: 15px;
  }
  .phone-only-left-padding-s {
    padding-left: 15px;
  }
  .phone-only-h-padding-s {
    padding-left: 15px;
    padding-right: 15px;
  }
  .phone-only-v-padding-s {
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .phone-only-padding-xl {
    padding: 75px;
  }
  .phone-only-padding-l {
    padding: 50px;
  }
  .phone-only-padding-m {
    padding: 25px;
  }
  .phone-only-padding-s {
    padding: 15px;
  }
  .phone-only-no-padding {
    padding: 0;
  }
  .phone-only-no-h-padding {
    padding-right: 0;
    padding-left: 0;
  }
  .phone-only-no-v-padding {
    padding-bottom: 0;
    padding-top: 0;
  }
  .phone-only-no-top-padding {
    padding-top: 0;
  }
  .phone-only-no-right-padding {
    padding-right: 0;
  }
  .phone-only-no-bottom-padding {
    padding-bottom: 0;
  }
  .phone-only-no-left-padding {
    padding-left: 0;
  }
}
/* Landscape Medias */
@media (orientation: landscape) {
  .landscape-only-top-padding-xl {
    padding-top: 75px;
  }
  .landscape-only-right-padding-xl {
    padding-right: 75px;
  }
  .landscape-only-bottom-padding-xl {
    padding-bottom: 75px;
  }
  .landscape-only-left-padding-xl {
    padding-left: 75px;
  }
  .landscape-only-h-padding-xl {
    padding-left: 75px;
    padding-right: 75px;
  }
  .landscape-only-v-padding-xl {
    padding-bottom: 75px;
    padding-top: 75px;
  }
  .landscape-only-top-padding-l {
    padding-top: 50px;
  }
  .landscape-only-right-padding-l {
    padding-right: 50px;
  }
  .landscape-only-bottom-padding-l {
    padding-bottom: 50px;
  }
  .landscape-only-left-padding-l {
    padding-left: 50px;
  }
  .landscape-only-h-padding-l {
    padding-left: 50px;
    padding-right: 50px;
  }
  .landscape-only-v-padding-l {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .landscape-only-top-padding-m {
    padding-top: 25px;
  }
  .landscape-only-right-padding-m {
    padding-right: 25px;
  }
  .landscape-only-bottom-padding-m {
    padding-bottom: 25px;
  }
  .landscape-only-left-padding-m {
    padding-left: 25px;
  }
  .landscape-only-h-padding-m {
    padding-left: 25px;
    padding-right: 25px;
  }
  .landscape-only-v-padding-m {
    padding-bottom: 25px;
    padding-top: 25px;
  }
  .landscape-only-top-padding-s {
    padding-top: 15px;
  }
  .landscape-only-right-padding-s {
    padding-right: 15px;
  }
  .landscape-only-bottom-padding-s {
    padding-bottom: 15px;
  }
  .landscape-only-left-padding-s {
    padding-left: 15px;
  }
  .landscape-only-h-padding-s {
    padding-left: 15px;
    padding-right: 15px;
  }
  .landscape-only-v-padding-s {
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .landscape-only-padding-xl {
    padding: 75px;
  }
  .landscape-only-padding-l {
    padding: 50px;
  }
  .landscape-only-padding-m {
    padding: 25px;
  }
  .landscape-only-padding-s {
    padding: 15px;
  }
  .landscape-only-no-padding {
    padding: 0;
  }
  .landscape-only-no-h-padding {
    padding-right: 0;
    padding-left: 0;
  }
  .landscape-only-no-v-padding {
    padding-bottom: 0;
    padding-top: 0;
  }
  .landscape-only-no-top-padding {
    padding-top: 0;
  }
  .landscape-only-no-right-padding {
    padding-right: 0;
  }
  .landscape-only-no-bottom-padding {
    padding-bottom: 0;
  }
  .landscape-only-no-left-padding {
    padding-left: 0;
  }
}
/* Portrait Medias */
@media (orientation: portrait) {
  .portrait-only-top-padding-xl {
    padding-top: 75px;
  }
  .portrait-only-right-padding-xl {
    padding-right: 75px;
  }
  .portrait-only-bottom-padding-xl {
    padding-bottom: 75px;
  }
  .portrait-only-left-padding-xl {
    padding-left: 75px;
  }
  .portrait-only-h-padding-xl {
    padding-left: 75px;
    padding-right: 75px;
  }
  .portrait-only-v-padding-xl {
    padding-bottom: 75px;
    padding-top: 75px;
  }
  .portrait-only-top-padding-l {
    padding-top: 50px;
  }
  .portrait-only-right-padding-l {
    padding-right: 50px;
  }
  .portrait-only-bottom-padding-l {
    padding-bottom: 50px;
  }
  .portrait-only-left-padding-l {
    padding-left: 50px;
  }
  .portrait-only-h-padding-l {
    padding-left: 50px;
    padding-right: 50px;
  }
  .portrait-only-v-padding-l {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .portrait-only-top-padding-m {
    padding-top: 25px;
  }
  .portrait-only-right-padding-m {
    padding-right: 25px;
  }
  .portrait-only-bottom-padding-m {
    padding-bottom: 25px;
  }
  .portrait-only-left-padding-m {
    padding-left: 25px;
  }
  .portrait-only-h-padding-m {
    padding-left: 25px;
    padding-right: 25px;
  }
  .portrait-only-v-padding-m {
    padding-bottom: 25px;
    padding-top: 25px;
  }
  .portrait-only-top-padding-s {
    padding-top: 15px;
  }
  .portrait-only-right-padding-s {
    padding-right: 15px;
  }
  .portrait-only-bottom-padding-s {
    padding-bottom: 15px;
  }
  .portrait-only-left-padding-s {
    padding-left: 15px;
  }
  .portrait-only-h-padding-s {
    padding-left: 15px;
    padding-right: 15px;
  }
  .portrait-only-v-padding-s {
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .portrait-only-padding-xl {
    padding: 75px;
  }
  .portrait-only-padding-l {
    padding: 50px;
  }
  .portrait-only-padding-m {
    padding: 25px;
  }
  .portrait-only-padding-s {
    padding: 15px;
  }
  .portrait-only-no-padding {
    padding: 0;
  }
  .portrait-only-no-h-padding {
    padding-right: 0;
    padding-left: 0;
  }
  .portrait-only-no-v-padding {
    padding-bottom: 0;
    padding-top: 0;
  }
  .portrait-only-no-top-padding {
    padding-top: 0;
  }
  .portrait-only-no-right-padding {
    padding-right: 0;
  }
  .portrait-only-no-bottom-padding {
    padding-bottom: 0;
  }
  .portrait-only-no-left-padding {
    padding-left: 0;
  }
}
/* Tablet Landscape and Above */
@media (min-width: 992px) {
  .tablet-landscape-and-above-top-padding-xl {
    padding-top: 75px;
  }
  .tablet-landscape-and-above-right-padding-xl {
    padding-right: 75px;
  }
  .tablet-landscape-and-above-bottom-padding-xl {
    padding-bottom: 75px;
  }
  .tablet-landscape-and-above-left-padding-xl {
    padding-left: 75px;
  }
  .tablet-landscape-and-above-h-padding-xl {
    padding-left: 75px;
    padding-right: 75px;
  }
  .tablet-landscape-and-above-v-padding-xl {
    padding-bottom: 75px;
    padding-top: 75px;
  }
  .tablet-landscape-and-above-top-padding-l {
    padding-top: 50px;
  }
  .tablet-landscape-and-above-right-padding-l {
    padding-right: 50px;
  }
  .tablet-landscape-and-above-bottom-padding-l {
    padding-bottom: 50px;
  }
  .tablet-landscape-and-above-left-padding-l {
    padding-left: 50px;
  }
  .tablet-landscape-and-above-h-padding-l {
    padding-left: 50px;
    padding-right: 50px;
  }
  .tablet-landscape-and-above-v-padding-l {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .tablet-landscape-and-above-top-padding-m {
    padding-top: 25px;
  }
  .tablet-landscape-and-above-right-padding-m {
    padding-right: 25px;
  }
  .tablet-landscape-and-above-bottom-padding-m {
    padding-bottom: 25px;
  }
  .tablet-landscape-and-above-left-padding-m {
    padding-left: 25px;
  }
  .tablet-landscape-and-above-h-padding-m {
    padding-left: 25px;
    padding-right: 25px;
  }
  .tablet-landscape-and-above-v-padding-m {
    padding-bottom: 25px;
    padding-top: 25px;
  }
  .tablet-landscape-and-above-top-padding-s {
    padding-top: 15px;
  }
  .tablet-landscape-and-above-right-padding-s {
    padding-right: 15px;
  }
  .tablet-landscape-and-above-bottom-padding-s {
    padding-bottom: 15px;
  }
  .tablet-landscape-and-above-left-padding-s {
    padding-left: 15px;
  }
  .tablet-landscape-and-above-h-padding-s {
    padding-left: 15px;
    padding-right: 15px;
  }
  .tablet-landscape-and-above-v-padding-s {
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .tablet-landscape-and-above-padding-xl {
    padding: 75px;
  }
  .tablet-landscape-and-above-padding-l {
    padding: 50px;
  }
  .tablet-landscape-and-above-padding-m {
    padding: 25px;
  }
  .tablet-landscape-and-above-padding-s {
    padding: 15px;
  }
  .tablet-landscape-and-above-no-padding {
    padding: 0;
  }
  .tablet-landscape-and-above-no-h-padding {
    padding-right: 0;
    padding-left: 0;
  }
  .tablet-landscape-and-above-no-v-padding {
    padding-bottom: 0;
    padding-top: 0;
  }
  .tablet-landscape-and-above-no-top-padding {
    padding-top: 0;
  }
  .tablet-landscape-and-above-no-right-padding {
    padding-right: 0;
  }
  .tablet-landscape-and-above-no-bottom-padding {
    padding-bottom: 0;
  }
  .tablet-landscape-and-above-no-left-padding {
    padding-left: 0;
  }
}
/* Tablet Portrait and Above */
@media (min-width: 768px) {
  .tablet-portrait-and-above-top-padding-xl {
    padding-top: 75px;
  }
  .tablet-portrait-and-above-right-padding-xl {
    padding-right: 75px;
  }
  .tablet-portrait-and-above-bottom-padding-xl {
    padding-bottom: 75px;
  }
  .tablet-portrait-and-above-left-padding-xl {
    padding-left: 75px;
  }
  .tablet-portrait-and-above-h-padding-xl {
    padding-left: 75px;
    padding-right: 75px;
  }
  .tablet-portrait-and-above-v-padding-xl {
    padding-bottom: 75px;
    padding-top: 75px;
  }
  .tablet-portrait-and-above-top-padding-l {
    padding-top: 50px;
  }
  .tablet-portrait-and-above-right-padding-l {
    padding-right: 50px;
  }
  .tablet-portrait-and-above-bottom-padding-l {
    padding-bottom: 50px;
  }
  .tablet-portrait-and-above-left-padding-l {
    padding-left: 50px;
  }
  .tablet-portrait-and-above-h-padding-l {
    padding-left: 50px;
    padding-right: 50px;
  }
  .tablet-portrait-and-above-v-padding-l {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .tablet-portrait-and-above-top-padding-m {
    padding-top: 25px;
  }
  .tablet-portrait-and-above-right-padding-m {
    padding-right: 25px;
  }
  .tablet-portrait-and-above-bottom-padding-m {
    padding-bottom: 25px;
  }
  .tablet-portrait-and-above-left-padding-m {
    padding-left: 25px;
  }
  .tablet-portrait-and-above-h-padding-m {
    padding-left: 25px;
    padding-right: 25px;
  }
  .tablet-portrait-and-above-v-padding-m {
    padding-bottom: 25px;
    padding-top: 25px;
  }
  .tablet-portrait-and-above-top-padding-s {
    padding-top: 15px;
  }
  .tablet-portrait-and-above-right-padding-s {
    padding-right: 15px;
  }
  .tablet-portrait-and-above-bottom-padding-s {
    padding-bottom: 15px;
  }
  .tablet-portrait-and-above-left-padding-s {
    padding-left: 15px;
  }
  .tablet-portrait-and-above-h-padding-s {
    padding-left: 15px;
    padding-right: 15px;
  }
  .tablet-portrait-and-above-v-padding-s {
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .tablet-portrait-and-above-padding-xl {
    padding: 75px;
  }
  .tablet-portrait-and-above-padding-l {
    padding: 50px;
  }
  .tablet-portrait-and-above-padding-m {
    padding: 25px;
  }
  .tablet-portrait-and-above-padding-s {
    padding: 15px;
  }
  .tablet-portrait-and-above-no-padding {
    padding: 0;
  }
  .tablet-portrait-and-above-no-h-padding {
    padding-right: 0;
    padding-left: 0;
  }
  .tablet-portrait-and-above-no-v-padding {
    padding-bottom: 0;
    padding-top: 0;
  }
  .tablet-portrait-and-above-no-top-padding {
    padding-top: 0;
  }
  .tablet-portrait-and-above-no-right-padding {
    padding-right: 0;
  }
  .tablet-portrait-and-above-no-bottom-padding {
    padding-bottom: 0;
  }
  .tablet-portrait-and-above-no-left-padding {
    padding-left: 0;
  }
}
/* phone Landscape and Above */
@media (min-width: 576px) {
  .phone-landscape-and-above-top-padding-xl {
    padding-top: 75px;
  }
  .phone-landscape-and-above-right-padding-xl {
    padding-right: 75px;
  }
  .phone-landscape-and-above-bottom-padding-xl {
    padding-bottom: 75px;
  }
  .phone-landscape-and-above-left-padding-xl {
    padding-left: 75px;
  }
  .phone-landscape-and-above-h-padding-xl {
    padding-left: 75px;
    padding-right: 75px;
  }
  .phone-landscape-and-above-v-padding-xl {
    padding-bottom: 75px;
    padding-top: 75px;
  }
  .phone-landscape-and-above-top-padding-l {
    padding-top: 50px;
  }
  .phone-landscape-and-above-right-padding-l {
    padding-right: 50px;
  }
  .phone-landscape-and-above-bottom-padding-l {
    padding-bottom: 50px;
  }
  .phone-landscape-and-above-left-padding-l {
    padding-left: 50px;
  }
  .phone-landscape-and-above-h-padding-l {
    padding-left: 50px;
    padding-right: 50px;
  }
  .phone-landscape-and-above-v-padding-l {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .phone-landscape-and-above-top-padding-m {
    padding-top: 25px;
  }
  .phone-landscape-and-above-right-padding-m {
    padding-right: 25px;
  }
  .phone-landscape-and-above-bottom-padding-m {
    padding-bottom: 25px;
  }
  .phone-landscape-and-above-left-padding-m {
    padding-left: 25px;
  }
  .phone-landscape-and-above-h-padding-m {
    padding-left: 25px;
    padding-right: 25px;
  }
  .phone-landscape-and-above-v-padding-m {
    padding-bottom: 25px;
    padding-top: 25px;
  }
  .phone-landscape-and-above-top-padding-s {
    padding-top: 15px;
  }
  .phone-landscape-and-above-right-padding-s {
    padding-right: 15px;
  }
  .phone-landscape-and-above-bottom-padding-s {
    padding-bottom: 15px;
  }
  .phone-landscape-and-above-left-padding-s {
    padding-left: 15px;
  }
  .phone-landscape-and-above-h-padding-s {
    padding-left: 15px;
    padding-right: 15px;
  }
  .phone-landscape-and-above-v-padding-s {
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .phone-landscape-and-above-padding-xl {
    padding: 75px;
  }
  .phone-landscape-and-above-padding-l {
    padding: 50px;
  }
  .phone-landscape-and-above-padding-m {
    padding: 25px;
  }
  .phone-landscape-and-above-padding-s {
    padding: 15px;
  }
  .phone-landscape-and-above-no-padding {
    padding: 0;
  }
  .phone-landscape-and-above-no-h-padding {
    padding-right: 0;
    padding-left: 0;
  }
  .phone-landscape-and-above-no-v-padding {
    padding-bottom: 0;
    padding-top: 0;
  }
  .phone-landscape-and-above-no-top-padding {
    padding-top: 0;
  }
  .phone-landscape-and-above-no-right-padding {
    padding-right: 0;
  }
  .phone-landscape-and-above-no-bottom-padding {
    padding-bottom: 0;
  }
  .phone-landscape-and-above-no-left-padding {
    padding-left: 0;
  }
}
/*# sourceMappingURL=paddings.css.map */